<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}" style = 'background-color:white; border:none;'>
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
          {% if include.type == "page" %}
            <span class="{{ include.type }}-subheading">BE Developer</span>
          {% else %}
            <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
          {% endif %}
		      {% if include.type == "post" %}
		        <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
          {% endif %}
	<hr>
          <!-- STEPS -->
          {% if include.type == "page" %}

		<h1 class="timeline-h1">DEV TIMELINE, <span>2012–2019</span></h1>
		<div class="flex-parent">
			<div class="input-flex-container">
				<div class="input">
					<span data-year="2012" data-info="Computer Engineering Hansung.Univ"></span>
				</div>
				<div class="input">
					<span data-year="2016" data-info="Intern @DAOU"></span>
				</div>
				<div class="input">
					<span data-year="2017" data-info="BE Dev @SiwonSchool"></span>
				</div>
				<div class="input active">
					<span data-year="present" data-info="BE Dev @GROOBEE"></span>
				</div>
			</div>
		</div>
		
		<hr>
		<div style="text-align: left">
			<h3>Technical Skills</h3>
			<ul>
				<li>
					<strong>Program Language</strong> :: Java, javascript, python, C
				</li>
				<li>
					<strong>Web Framework</strong> :: Spring
				</li>
				<li>
					<strong>Database</strong> :: Mysql, oracle, mongodb
				</li>
				<li>
					<strong>Development Tool</strong> :: eclipse, studio 3T, MobaXterm
				</li>
				<li>
					<strong>Cloud Platform</strong> :: AWS(EC2, Elastic Beanstalk, CodePipeline, CloudWatch, S3...)
				</li>
				<li>
					<strong>Others</strong> :: Git, Github, Source Tree, RabbitMQ, sonarqube, Sentry, Jira, SVN, Slack, Zeplin, Asana, Justinmind, Fiddler...
				</li>
			</ul>	
		</div>
		
		<hr>
		<div style="text-align: left">
			<h3>Github</h3>
			<p>
				<img src="https://ghchart.rshah.org/wkfwlspsl" alt="Github Image">
			</p>
		</div>
		
		<hr>
		<div style="text-align: left">
			<h3>Project</h3>
			<ul>
			</ul>
		</div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
