<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}" style = 'background-color:white; border:none;'>
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
          {% if include.type == "about" %}
            <span class="page-subheading">Web Developer</span>
          {% else %}
            <h2 class="page-subheading">{{ page.subtitle }}</h2>
          {% endif %}
		      {% if include.type == "post" %}
		        <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
          {% endif %}
	<hr>
          <!-- STEPS -->
          {% if include.type == "about" %}

		<h1 class="timeline-h1">DEV TIMELINE, <span>2012–2019</span></h1>
		<div class="flex-parent">
			<div class="input-flex-container">
				<div class="input">
					<span data-year="2012" data-info="Computer Engineering Hansung.Univ"></span>
				</div>
				<div class="input">
					<span data-year="2016" data-info="Intern @DAOU"></span>
				</div>
				<div class="input">
					<span data-year="2017" data-info="Dev @SiwonSchool"></span>
				</div>
				<div class="input active">
					<span data-year="present" data-info="Dev @GROOBEE"></span>
				</div>
			</div>
		</div>
		
		<hr>
		<div style="text-align: left">
			<h3>Technical Skills</h3>
			<ul>
				<li>
					<strong>Program Language</strong> :: Java, javascript, python, C, php
				</li>
				<li>
					<strong>Web Framework</strong> :: Spring
				</li>
				<li>
					<strong>Database</strong> :: Mysql, oracle, mongodb
				</li>
				<li>
					<strong>Development Tool</strong> :: eclipse, studio 3T, MobaXterm
				</li>
				<li>
					<strong>Cloud Platform</strong> :: AWS(EC2, Elastic Beanstalk, CodePipeline, CloudWatch, S3...)
				</li>
				<li>
					<strong>Others</strong> :: Git, Github, Source Tree, RabbitMQ, sonarqube, Sentry, Jira, SVN, Slack, Zeplin, Asana, Justinmind, Fiddler...
				</li>
			</ul>	
		</div>
		
		<hr>
		<div style="text-align: left">
			<h3>Project</h3>
			<ul>
				<strong>2019</strong>
				<li>
					dynamic UI :: <a href="http://groobee.net/2019/11/11/dynamic-ui-release/" target="_blank">GROOBEE dynamic UI Project</a>
				</li>
				<li>
					Solution 개발 및 유지보수 :: <a href="http://groobee.net/" target="_blank">GROOBEE</a>
				</li>
				<strong>2018</strong>
				<li>
					Solution 개발 및 유지보수 :: <a href="http://groobee.net/" target="_blank">GROOBEE</a>
				</li>
				<strong>2017</strong>
				<li>
					사이트 오픈 :: <a href="http://indonesia.siwonschool.com/" target="_blank">시원스쿨 인도네시아어 사이트</a>
				</li>
				<li>
					사이트 오픈 :: <a href="http://france.siwonschool.com/m/" target="_blank">시원스쿨 프랑스어 모바일 웹 사이트</a>
				</li>
			</ul>
		</div>
		
		<hr>
		<div style="text-align: left">
			<h3>Github</h3>
			<p>
				<img src="https://ghchart.rshah.org/wkfwlspsl" alt="Github Image">
			</p>
		</div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
